.game-container {
    background-image: url('../../assets/images/background/bg1.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.player {
    position: absolute;
    bottom: 10px;
    width: 50px;
    height: 60px;
    background-image: url('../../assets/images/boat.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.item {
    position: absolute;
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
}

.item.p1 {
    background-image: url('../../assets/images/add/p1.png');
}

.item.p2 {
    background-image: url('../../assets/images/add/p2.png');
}

.item.p3 {
    background-image: url('../../assets/images/add/p3.png');
}

.item.p4 {
    background-image: url('../../assets/images/add/p4.png');
}

.item.e1 {
    background-image: url('../../assets/images/minus/e1.png');
}

.item.e2 {
    background-image: url('../../assets/images/minus/e2.png');
}

button {
    padding: 10px 20px;
    font-size: 1em;
    margin: 20px 0;
    cursor: pointer;
}